/* Upper Half */

#header {
	width: 100%;
	height: 50px;
	background: #1FAB54;
;
}


#editor { 
	position: relative;
	width: 100%;
	height: 350px;
}

#logo {
	width: 145px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 15px;

}

/* Lower Half */

/* Input Bars */

#words-outer-container{
	margin-left: 10px;

}

.outer-form{
	margin-top:50px;

}

.word-unit{

}

.outer-container-span{
	width:250px;
	height:50px;
	display: inline-block;
}

.word-span{
	line-height: 40px;

}

.word-input-bar{
	float:right;
	border:0;
	border-bottom: 2px solid;
	color:green;
	font-color: red;
}

/* Word List */

.word-list{
	display: inline;
	margin-left:30px;
}
.word{
	margin-right:10px;
	font-size: 20px;
}

input:focus {
    outline-width: 0;
}

button:focus {
	outline-width: 0;
}
button:active {
  background: black;
}


/* Buttons */

#buttons{
	width: 100%;
}

#buttons-container{
	width: 350px;
	margin-left:auto;
	margin-right:auto;
}

.selectionButton {
    background-color: #1FAB54; /* Green */
    border: none;
    color: white;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:5px;
	margin-right:5px;
}



path:hover{
	fill: yellow;
}

svg:hover ,
svg:hover { 
  fill: yellow;
}

/* Feedback */
#feedback{
	margin-right: auto;
	margin-left: auto;
	width: 500px;
}

/* Check Mark */

.checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_stem {
	cursor: pointer;
    position: absolute;
    width:3px;
    height:9px;
    background-color:#2ED468;
    left:11px;
    top:6px;
}

.checkmark_kick {

	cursor: pointer;
    position: absolute;
    width:3px;
    height:3px;
    background-color:#2ED468;
    left:8px;
    top:12px;
}

/* X */

.X {
	cursor: pointer;
	font-weight: lighter;
	font-size:10px;
	margin-right:8px;
	margin-left:4px;
	color:#F75735 ;
    display:inline-block;
    -webkit-transform:scale(2,1.7); /* Safari and Chrome */
    -moz-transform:scale(2,1.7); /* Firefox */
    -ms-transform:scale(2,1.7); /* IE 9 */
    -o-transform:scale(2,1.7); /* Opera */
    transform:scale(2,1.7); /* W3C */
}

/* Footer */

.footer{
	width:100%;
	position: absolute;
	bottom:0;
	height: 50px;
	background: #1FAB54;
}


