/* Upper Half */

#header {
	width: 100%;
	height: 50px;
	background: #1FAB54;
;
}


#editor { 
	position: relative;
	width: 100%;
	height: 100px;
}

#logo {
	width: 145px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 15px;

}

/* Lower Half */

/* Input Bars */

#words-outer-container{
	margin-left: 10px;

}

.outer-form{
	margin-top:50px;

}

.word-unit{

}

.outer-container-span{
	width:250px;
	height:50px;
	display: inline-block;
}

.word-span{
	line-height: 40px;

}

.word-input-bar{
	float:right;
	border:0;
	border-bottom: 2px solid;
	color:green;
	font-color: red;
}

/* Word List */

.word-list{
	display: inline;
	margin-left:30px;
}
.word{
	margin-right:10px;
	font-size: 20px;
}

input:focus {
    outline-width: 0;
}






/* Buttons */

#buttons{
	width: 100%;
}

#buttons-container{
	width: 350px;
	margin-left:auto;
	margin-right:auto;
}

.selectionButton {
    background-color: #1FAB54; /* Green */
    border: none;
    color: white;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:5px;
	margin-right:5px;
}



path:hover{
	fill: yellow;
}

svg:hover ,
svg:hover { 
  fill: yellow;
}

/* Feedback */
#feedback{
	margin-right: auto;
	margin-left: auto;
	width: 100px;
}


