/* Upper Half */

#header {
	width: 100%;
	height: 50px;
	background: #e74c3c;
}

#editor { 
	position: relative;
	width: 100%;
	height: 350px;
}

#logo {
	width: 145px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 15px;

}

#outer-box{
	/*background: #e74c3c;*/
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

/* Lower Half */

/* Input Bars */

#words-outer-container{
	margin-left: 10px;

}

.outer-form{
	margin-top:50px;

}

.word-unit{

}

.outer-container-span{
	width:400px;
	height:50px;
	display: inline-block;
}

.word-span{
	font-size:30px;
	line-height: 40px;

}

.word-input-bar{
	float:right;
	font-size:30px;
	width: 250px;
	border:0;
	border-bottom: 2px solid;
	border-bottom-color:#34495e;
	border-bottom-width: 3px;
	color:#3498db;
}

/* Word List */

.word-list{
	display: inline;
	margin-left:30px;
}
.word{
	color:#16a085;
	margin-right:10px;
	font-size: 30px;
}

input:focus {
    outline-width: 0;
}

button:focus {
	outline-width: 0;
}
button:active {
  background: black;
}


/* Buttons */

#buttons{
}

#buttons-container{
	position: absolute;
	left:61px;
	top:8px;

}

.selectionButton {
}

path:hover{
	fill: yellow;
}

svg:hover ,
svg:hover { 
  fill: yellow;
}

/* Feedback */

#feedback{
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
	height: 200px;
	line-height: 50px;
	font-size:35px;
	margin-top:50px;
	text-align: -webkit-center;

}

/* Footer */

.footer{
	width:100%;
	position: absolute;
	bottom:0;
	height: 50px;
	background: #e74c3c;
}
.svg-icon {
	margin-right: 15px;
cursor:pointer;
  width: 2.5em;
  height:2.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}
.svg-icon:active{
	background: black;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.svg-icon-button {
cursor:pointer;
  width: 3em;
  height: 3em;
}

.svg-icon-button path,
.svg-icon-button polygon,
.svg-icon-button rect {
  fill: #4691f6;
}

.svg-icon-button circle {
  stroke: #4691f6;
  stroke-width: 1;
}